.App {
    text-align: center;
}

.card {
    margin: 1rem;
    padding: 1rem;
    background-color: #182c34;
    color: white;
}

nav {
    height: 10vh;
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link {
    color: white;
    margin: 1rem;
    text-decoration: none;
}

.nav-link:hover {
    color: orange;
}


.btn {
    padding: 0.5rem;
    margin: 0.5rem;
    width: 5rem;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover{
    background-color: orange;
}

section {
    display: grid;
}

input {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 20rem;
}

@media screen and (min-width: 600px){
    section {
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width: 768px){
    section {
        grid-template-columns: auto auto auto;
    }

}

@media screen and (min-width: 992px){
    section {
        grid-template-columns: auto auto auto auto;
    }
}